.profile {
  .one {
    margin: 20px 0;
    height: 100%;
    width: 100%;
    padding: 40px 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }
  }
  .two {
    margin: 20px 0;
    height: 100%;
    width: 100%;
    padding: 40px 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }
  }
  .three {
    margin: 20px 0;
    height: 100%;
    width: 95%;
    margin-left: auto;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }
  }
}
