.home {
  .header {
    h3 {
      font-size: clamp(16px,1.66656vw,64px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h4 {
      font-size: clamp(12px,1.24992vw,48px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  
  .circule {
    .item {
      margin: 24px 0;
      width: 100%;
      padding: 40px 30px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      h3 {
        font-size: clamp(11px,1.1457600000000001vw,44px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.22px;
        margin-top: 20px;
      }
      h5 {
        color: #acacac;
        font-size: clamp(7px,0.72912vw,28px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14px;
      }
    }
  }
}
