.gpt {
  margin: 24px 0;
  width: 100%;
  .item {
    height: 100%;
    width: 100%;
    padding: 40px 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }
    h3 {
        font-size: clamp(12px,1.24992vw,48px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      h4 {
        font-size: clamp(9px,0.93744vw,36px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
  }
}

@media only screen and (max-width: 768px) {
  .gpt {
    .item {
      padding: 20px ;
        h4 {
          margin-bottom: 20px;
        }
    }
  }
}
